* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    padding: 1rem 0;

    & nav {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    & a {
        background-color: rgba(207, 144, 102, 0.3);

        &:first-of-type {
            background-color: #000;
            color: #fff;
            font-weight: 700;
            padding: .5rem 1rem;
        }
    }
}

.banner {
    background: url('/billie.png'), #cf9066;
    background-position: 25% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 32rem;
    position: relative;

    .content {
        position: absolute;
        left: 50%;
        top: 30%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & h2 {
            color: #fff;
            font-size: larger;
        }

        & h3 {
            color: #fff;
            font-size: xx-large;
            font-weight: 700;
        }

        & cite {
            margin: 1.5rem auto;
        }

        & .button {
            background: none;
            border: 1px solid #fff;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
            font-size: larger;
            font-weight: 700;
            padding: 0.5rem 2rem;
            width: fit-content;
        }

        & .button:hover {
            background: #fff;
            color: #cf9066;
        }
    }
}

.perks {
    background: url('/drink.png'), #eee;
    background-position: 75%;
    background-repeat: no-repeat;
    background-size: 15%;
    min-height: 31.25rem;
    position: relative;

    & .content {
        max-width: 800px;
        position: absolute;
        top: 12.5%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
}
